:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", serif;
}

body {
  font-family: var(--default-font-family);
  display: block;
}

.logo {
  max-height: 40px;
}

@media (min-width: 768px) .container {
  max-width: 720px;
}

@media (min-width: 576px) .container {
  max-width: 540px;
}

.container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

div {
  display: block;
}

justify-content-between {
  justify-content: space-between;
}

d-flex {
  display: flex;
}

nav {
  padding: 20px 0;
}

@media (max-width: 900px) nav a {
  font-size: 14px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav ul {
  padding: 0;
  margin: 0;
  display: block;
  list-style-type: disc;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
  text-decoration: none;
}

@media (max-width: 900px) nav a {
  font-size: 14px;
}

nav a {
  transition: all 100ms ease-in-out;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  margin: 0;
  color: #272142;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

@media (max-width: 900px) h1 {
  font-size: 44px;
  line-height: 56px;
}

h1 {
  font-size: 86px;
  line-height: 1.5;
}

h1 {
  color: black;
  font-family: var(--heading-font-family);
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

@media (max-width: 900px) h2 {
  font-size: 44px;
}

h2 {
  font-size: 58px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 10px;
}

.d-none {
  display: none;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.rounded {
  border-radius: 0.25rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border-style: double;
}

@media (max-width: 900px) .project-description {
  padding: 0;
  text-align: center;
}

.project-description {
  padding: 40px 60px;
}

.text-muted {
  color: #6c757d;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

@media (max-width: 900px) h3 {
  font-size: 26px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .email-link {
  text-decoration: none;
  font-size: 24px;
}

@media (max-width: 900px) .content-container {
  text-align: center;
  padding: 0;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}
